
:root {
    --main-bg-color: #373656;
    --main-bg-color-light: #4541a3;
}

.navbar {
    background-color: var(--main-bg-color);
}

html {
    background-color: #f2f1ff;
}

body {
    background-color: transparent;
}

.page-body {
    background-color: white;
    border-radius: 14px;
    padding: 30px;
    padding-top: 15px;
    margin-top: 1rem;
}

.required-asterisk::after {
    content: "*";
    color: red;
}

#user-dropdown {
    background-color: transparent;
    border-color: transparent;
    transition: 250ms;
}

#user-dropdown:hover {
    background-color: rgba(255,255,255,0.1);
    border-color: rgba(255,255,255,0.3);
}

.reservation-times-container {
    
}

.reservation-times-container > .reservation-times-body .reservation-times-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 40px;
    grid-gap: 12px;
}

.sign-in-popup-header {
    background-color: var(--main-bg-color-light);
}

@media only screen and (max-width: 600px) {
    .page-body {
        margin-top: 0.5rem;
        margin: 0.5rem;
        width: initial;
    }
}